HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
.settings
.history
### IntelliJ IDEA ###
.idea
.project
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Mac ###
.DS_Store
